html {
  background-color: black;
  height: 100%;
  width: 100%;
  font-family: "Titillium Web", sans-serif;
}

body {
  min-height: 100%;
  min-width: 100%;
  background: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
}

button {
  font-size: 7px;
}

#main-content {
  color: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid rgb(4, 0, 0);
  background: rgb(0, 0, 0);
  padding: 15px 20px 18px 18px;
  border-radius: 5px;
  box-shadow: 2px 5px 5px rgba(70, 151, 244, 0.383);
}

#list {
  width: 500px;
  margin: 20px;
  border: 1px solid rgb(70, 151, 244, 0.383);
  background: rgb(0, 0, 0);
  padding: 15px 20px 18px 18px;
  border-radius: 5px;
  box-shadow: 2px 5px 5px #333;
}

p {
  font-size: large;
  color: blueviolet;
}